
<div class="body-section" >
  <div class='body-content-wrap'>
    <div class="card">
      <div class="card-header">
        <div class="titleAndBatch">
          <h1 class="modal-title">Team Details</h1>
         </div>
      </div>
      <div class="card-body p-0">
        <div class="p-3">
          <div class="row mb-3">
            <div class="row col">
              <div class="col-3">
                <span>Name :</span>
              </div>
              <div class="col-7">
                <span>Swapnil</span>
              </div>
            </div>
            <div class="row col">
              <div class="col-3">
                <span>Age Limit :</span>
              </div>
              <div class="col-7">
                <span>14</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row col">
              <div class="col-3">
                <span>Coach Name :</span>
              </div>
              <div class="col-7">
                <span>Akshay</span>
              </div>
            </div>
            <div class="row col">
              <div class="col-3">
                <span>Player Count :</span>
              </div>
              <div class="col-7">
                <span>30</span>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header">
            <div class="titleAndBatch">
              <h2 class="modal-title">Player Details</h2>
             </div>
          </div>
          <div class="card-body">

          <div class="ground">
            <hr class="halfLine">
            <div class="goal topGoalpost"> </div>
            <div class="goal bottomGoalpost"> </div>
            <div class="centerCircle rounded-circle"></div>
            <div class="top"></div>
            <div class="bottom"></div>
            <div class="row strickers m-0">
              <div class="col text-center">
                <div class="player"  matTooltip="Info about the Player Info about the Player Info about the PlayerInfo about the PlayerInfo about the Player Info about the Player"
                matTooltipClass="example-tooltip-red"></div>
              </div>
              <div class=" col text-center"><div class="player"></div></div>
              <div class=" col text-center"><div class="player"></div></div>
            </div>
            <div class="row midfielder m-0">
              <div class=" col  text-center"><div class="player"></div></div>
              <div class=" col  text-center"><div class="player"></div></div>
              <div class=" col  text-center"><div class="player"></div></div>
            </div>
            <div class="row defence m-0">
              <div class=" col text-center"><div class="player"></div></div>
              <div class=" col text-center"><div class="player"></div></div>
              <div class=" col text-center"><div class="player"></div></div>
            </div>

          </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
