.cmsheader{
height: 70px;
width:100%;
background-color: #667eea;
}
.tabs{
  display: inline;
}
ul li {
  display: inline-block;
  padding: 23px;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1.3px;
}
li a{
  color: white;
}

li.active{
 background-color:  #4054ae;
}

li.active a {
  text-decoration: underline;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menuBtn{
  padding: 10px;
  color: white;
  font-size:30px;
  cursor:pointer
}
