.cmsheader{
height: 70px;
width:100%;
background-color: #667eea;
}
ul li {
  display: inline-block;
  padding: 23px;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1.3px;
}
li a{
  color: white;
}

li.active{
 background-color:  #4054ae;
}

li.active a {
  text-decoration: underline;
}
