<div class="card form-page-wrap">
  <form #userForm="ngForm" (ngSubmit)="SaveUser(userForm)" [mustMatch]="['password', 'confirmPassword']">
    <div class="card-header">
      <h1 class="float-left card-header-title">Update Coach</h1>
      <div class="float-right">
        <button class="btn btn-primary m-2" type="submit"
          id="n-user-add-save">Save</button>
        <button class="btn btn-secondary m-2" (click)="Cancel()" id="n-user-add-cancel">Cancel</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="card-body">
      <div class="col-lg-12">
        <div class="form-group row" [ngClass]="{ 'has-error' : (submitted && lastName.invalid) }">
          <label for="lastName" class="col-sm-3 control-label">Team</label>
          <div class="col-sm-4">
            <div class="col-sm-4">
              <select id="userRole" name="userRole" class="form-control" required [(ngModel)]="user.team"
                #team="ngModel" >
                <option *ngFor="let team of teams" [value]="team.id">{{team.Name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{ 'has-error' : (submitted && firstName.invalid) }">
          <label for="firstName" class="col-sm-3 control-label">First Name</label>
          <div class="col-sm-4">

              <label for="email" class="col-md-9 control-label">
                {{user.firstName}}
              </label>
          </div>

        </div>
        <div class="form-group row" [ngClass]="{ 'has-error' : (submitted && lastName.invalid) }">
          <label for="lastName" class="col-sm-3 control-label">Last Name</label>
          <div class="col-sm-4">
            <label for="email" class="col-md-9 control-label">
              {{user.lastName}}
            </label>
          </div>
        </div>

        <div class="form-group row">
          <label for="age" class="col-sm-3 control-label">
            Age
          </label>
          <div class="col-sm-4">
            <label for="age" class="col-md-9 control-label">
              {{user.age}}
            </label>
          </div>
          <div class="col-sm-5"></div>
        </div>
        <!-- <div class="form-group row">
          <label for="email" class="col-sm-3 control-label">
            position
          </label>
          <div class="col-sm-4">
            <label for="email" class="col-md-9 control-label">
              {{user.position}}
            </label>
          </div>
          <div class="col-sm-5"></div>
        </div> -->

        <div class="form-group row">
          <label for="email" class="col-sm-3 control-label">
            Email
          </label>
          <div class="col-sm-4">
            <label for="email" class="col-md-9 control-label">
              {{user.email}}
            </label>
          </div>
          <div class="col-sm-5"></div>
        </div>



        <div class="form-group row"
          [ngClass]="{ 'has-error' : (password.errors?.minlength) || (password.errors?.maxlength) }">
          <label for="password" class="col-sm-3 control-label">
            Reset Password
          </label>
          <div class="col-sm-4">
            <input type="password" name="password" class="form-control" [(ngModel)]="user.password" #password="ngModel"
              placeholder="Password" minlength="8" maxlength="20" />
          </div>
          <div class="col-sm-5">
            <p *ngIf="password.errors?.minlength" class="error-msg help-block">
              Password can not be less than 8 characters
            </p>
            <p *ngIf="password.errors?.maxlength" class="error-msg help-block">
              Password can not be more than 20 characters.
            </p>
          </div>
        </div>
        <div class="form-group row"
          [ngClass]="{ 'has-error' : (user.confirmPassword !== user.password) || (confirmPassword.errors?.maxlength) || (confirmPassword.errors?.minlength)} ">
          <label for="confirmPassword" class="col-sm-3 control-label">
            Confirm Password
          </label>
          <div class="col-sm-4">
            <input type="password" name="confirmPassword" minlength="8" maxlength="20" class="form-control"
              [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" placeholder="Confirm Password" />
          </div>
          <div class="col-sm-5">
            <p *ngIf="(user.confirmPassword !== user.password)" class="error-msg help-block">
              Confirm Password and Password should match
            </p>
            <p *ngIf="confirmPassword.errors?.maxlength" class="error-msg help-block">
              Password can not be more than 20 characters.
            </p>
            <p *ngIf="confirmPassword.errors?.minlength" class="error-msg help-block">
              Password can not be less than 8 characters
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <lm-ap-alert *ngIf="showAlert" [type]="alertType" [text]="alertText" (OnConfirm)="Ok();"></lm-ap-alert> -->
